body {
    margin: 0;
    height: 100%;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/10_body_background/ms5c_9ybr_211015.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@font-face {
    font-family: zabars;
    src: url('fonts/zabars.ttf');
}

canvas {
    background-color: black;
    display: block;
}

h1 {
    margin: 15px;
    font-size: 100px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}

#start-screen {
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: 720px 480px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 50px;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1;
    /* Z-Index, um den Startscreen vor dem Canvas zu positionieren */
}

#start-screen button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 40px;
    font-size: 38px;
    font-family: zabars;
    cursor: pointer;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
}

#start-screen button img {
    height: 30px;
    width: 30px;
}

#start-screen button:hover {
    background-color: rgb(255, 222, 0);
}

#mute-button-ingame {
    position: relative;
    top: 6vh;
    height: 40px;
    width: 40px;
    font-size: 38px;
    cursor: pointer;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
    z-index: 2;
}

#mute-button-ingame img {
    height: 30px;
    width: 30px;
}

#mute-button:hover {
    background-color: rgb(255, 222, 0);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: rgb(110, 55, 30);
    width: 720px;
    height: 80px;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bold;
}

.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.arrows img {
    height: 40px;
}

.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.space img {
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3.5px solid;
    border-radius: 20%;
}

.up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.up img {
    height: 40px;
}

#game-over-screen {
    z-index: 99;
    top: 170px;
    width: 720px;
    height: 480px;
    background-size: 720px 480px;
    background-repeat: no-repeat;
    position: absolute;
    background-color: black;
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
}

#game-over-screen button {
    position: absolute;
    top: 380px;
    right: 270px;
    font-size: 38px;
    cursor: pointer;
    font-family: zabars;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
    z-index: 2;
}

#game-over-screen button:hover {
    background-color: rgb(255, 222, 0);
}

#you-win-screen {
    z-index: 99;
    top: 170px;
    width: 720px;
    height: 520px;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    background-color: black;
}

#you-win-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.win {
    font-size: 200px;
    color: rgb(255, 176, 0);
    text-decoration: double;
}

#you-win-screen button {
    position: absolute;
    top: 380px;
    right: 270px;
    font-size: 38px;
    cursor: pointer;
    font-family: zabars;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
    z-index: 2;
}

#you-win-screen button:hover {
    background-color: rgb(255, 222, 0);
}

#hud {
    position: absolute;
    bottom: 5px;
    width: 70vw;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.panel {
    display: flex;
    gap: 20px;
}

.mobile-hud-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 176, 0);
    border: 2px solid black;
    border-radius: 20%;
}

.mobile-hud-button img {
    height: 30px;
    width: 30px;
}


/*ORIENTATION MESSAGE*/
#orientationMessage {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    font-size: 50px;
    padding-top: 50vh;
    z-index: 9999;
}

@media (max-width:600px) {
    #orientationMessage {
        display: block;
    }
}

/*MOBILE WIDTH*/
@media (max-width:720px) {

    canvas {
        width: 100%;
    }

    #hud {
        display: flex;
    }

    h1 {
        display: none;
    }

    .controls {
        display: none;
    }

    body {
        margin: 0;
        width: 100%;
        height: 100vh;
    }

    #start-screen {
        margin: 0;
        height: 100%;
        width: 100%;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #start-screen button {
        margin: 5px;
    }

    #you-win-screen {
        margin: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        text-align: center;
    }

    #you-win-screen button {
        top: 10vh;
    }

    #game-over-screen {
        margin: 0;
        top: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-position: center center;
        text-align: center;
    }

    #game-over-screen button {
        top: 10vh;
    }

    #mute-button-ingame {
        position: absolute;
    }
}

/*MOBILE HEIGHT*/
@media (max-height:480px) {
    canvas {
        height: 100vh;
    }
}