body {
    height: 100%;
    font-family: 'zabars', Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url('img/10_body_background/ms5c_9ybr_211015.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
@font-face {
    font-family: zabars;
    src: url('fonts/zabars.ttf');
}
canvas {
    background-color: black;
}
h1 {
    margin: 50px;
    font-size: 100px;
    letter-spacing: 4px;
    text-shadow: 4px 4px 8px rgba(0,0,0,0.5);
}
#start-screen {
    background-image: url("img/9_intro_outro_screens/start/startscreen_1.png");
    background-size: 720px 480px;
    background-repeat: no-repeat;
    position: absolute;
    margin-top: 120px;
    width: 720px;
    height: 480px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    z-index: 1; /* Z-Index, um den Startscreen vor dem Canvas zu positionieren */
}
#start-screen button {
    margin: 40px;
    font-size: 38px;
    font-family: zabars;
    cursor: pointer;
    background-color: rgb(255,176,0);
    box-shadow: 3px 5px 10px rgb(255,222,0); 
    border: 0;
    border-radius: 5%;
}
#start-screen button img {
    height: 30px;
    width: 30px;
}
#start-screen button:hover{
    background-color: rgb(255,222,0);
}
#mute-button-ingame {
    position: relative;
    top: 5vh;
    height: 40px;
    width: 40px; 
    font-size: 38px;
    cursor: pointer;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
    z-index: 2;
}

#mute-button-ingame img{
    height: 30px;
    width: 30px;
}

#mute-button:hover {
    background-color: rgb(255, 222, 0);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background-color: rgb(110, 55, 30);
    width: 720px;
    height: 80px;
    letter-spacing: 2px;
    font-size: 25px;
    font-weight: bold;
}
.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.arrows img {
    height: 40px;
}
.space {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.space img {
    height: 33px;
    padding-left: 10px;
    padding-right: 10px;
    border: 3.5px solid;
    border-radius: 20%;
}
.up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.up img {
    height: 40px;
}

#game-over-screen {
    z-index: 99;
    top: 208px;
    width: 720px;
    height: 480px;
    background-size: 720px 480px;
    background-repeat: no-repeat;
    position: absolute;
    background-color: black;
    background-image: url('img/9_intro_outro_screens/game_over/game over.png');
}

#game-over-screen button {
    position: absolute;
    top: 380px;
    right: 270px;
    font-size: 38px;
    cursor: pointer;
    font-family: zabars;
    background-color: rgb(255, 176, 0);
    box-shadow: 3px 5px 10px rgb(255, 222, 0);
    border: 0;
    border-radius: 5%;
    z-index: 2;
}
#game-over-screen button:hover {
    background-color: rgb(255, 222, 0);
}